* {
    box-sizing: border-box;
    margin: 0;
    /* border: 1px solid red; */
}

body {
    font-family: 'Roboto', sans-serif, Arial;
    /* background-color: #1f2937; */
}

.header {
    color: white;
    background-color: #1f2937;
}

.header-logo-text {
    font-size: 24px;
    color: #f9faf8;
}

.header-logo-links {
    display: flex;
    justify-content: space-between;
    padding: 25px 220px 0 220px;
    align-items: center;
    
}

ul,
.header-links {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    gap: 30px;
    /* justify-content: space-between; */
}

.placeholder {
    background-color: #e5e7eb42;
    color: white;
    padding: 110px;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    margin: 150px 0 150px 220px;
    width: 450px;
    gap: 15px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    width: 120px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 7px 10px;
    font-weight: 700;
    border: none;
}

.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-placeholder {
    border: 4px solid #3882f6;
    height: 210px;
    width: 200px;
    border-radius: 20px;
    margin: 0px 0px 10px 0px;
    
}

.gallery {
    display: flex;
    /* gap: 50px; */
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.gallery-imgs {
    display: flex;
    gap: 50px;
}

.gallery-text {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    color: #000000a8;
    margin-bottom: 150px;
}
p {
    width: 230px;
}

.middle-section-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 50px 0 0px 0;
}